$main-color: #4FD3DE;
$text-color: white;
$secondary-color: #DBDBDB;
$third-color:#B7B7B7;
$dark-heading: #222222;
$contact-label-color:#666666;
$break-points-desktop: 1200px;
$break-points-tablet-big: 991px;
$break-points-tablet: 767px;
$break-points-mobile-big: 575px;
$break-points-mobile: 320px;
$fa-font-path:        "font/scss";