@import "_variables.scss";
@import "_mixins.scss";
@import "home";


@font-face {
  font-family: Rene_Bieder_Milliard_Semibold;
  src: url('../font/Rene_Bieder_Milliard_SemiBold.woff');
  font-weight: normal;
}
@font-face {
  font-family: Rene_Bieder_Milliard_Medium;
  src: url('../font/Rene_Bieder_Milliard_Medium.woff');
  font-weight: normal;
}

*, ::after, ::before {
  box-sizing: border-box;
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;

  outline: none;
  display: block;

  font-family: Rene_Bieder_Milliard_Medium, sans-serif;

}

//general

.call-action{
  color: $text-color;
  background-color: $main-color;
}
.learn-more{
  border-color: $main-color;
  color: $main-color;
  &:hover{
    color: $text-color;
  }
}
.navbar-dark .navbar-toggler{
  border: 1px solid white;
}
.navbar-container{
   @include media-max-width($break-points-tablet-big){
     width: 50%;
   }
  .navbar{
    @include media-max-width($break-points-tablet-big){
      justify-content: flex-end;

    }
    .navbar-nav{
      @include media-max-width($break-points-tablet-big){
        background-color: $third-color;
        text-align: center;
        min-width: 155px;
        padding-top: 0.1rem;
      }
    }
  }
}

//-----header--

header{
  width: 100%;
  background: url("../img/header-bg.png") center center;
  background-size: cover;
  padding: 2rem 2rem 8rem 2rem;
  @include media-max-width($break-points-mobile){
    padding: 2rem 0.5rem 8rem 0.5rem;
  }

  nav{
    .nav-link{
      color: $text-color!important;
      font-size: 0.9rem;
      @include media-max-width(1120px){
        font-size: 0.6rem;
      }
      @include media-max-width($break-points-tablet-big){
        font-size: 0.9rem;
      }
    }
  }

  .main-logo{
    width: 50%;
    @include media-max-width($break-points-tablet){
      width: 100%;
      display: flex;

    }
    figure{
      img{

        width: 282px;
        @include media-max-width($break-points-tablet){
          width: 160px;
        }
        @include  media-max-width($break-points-mobile){
          width: 100px;
        }

      }
    }
  }
  .header-content{
    color: $text-color;
    padding: 1rem;

    h1{
      text-shadow: 0px 0px 10px #2D2D2DAB;
      opacity: 1;
      @include  media-max-width($break-points-tablet){
        font-size: 2rem;
      }
      @include media-max-width($break-points-mobile-big){
        font-size: 1.5rem;
      }
      @include media-max-width(400px){
        font-size: 1.2rem;
      }
      @include media-max-width(320px){
        font-size: 1rem;
      }
    }
    small{
      text-shadow: 0px 0px 10px #2D2D2DAB;
      opacity: 1;
      @include media-max-width(400px){
        font-size: 70%;
      }
    }
    .header-content__buttons{
      @include media-max-width($break-points-mobile-big){
        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 2rem;
        margin-top: 2rem;
      }
    }

  }
}

//footer

footer{
  background: #1F1F1F 0% 0% no-repeat padding-box;
  padding: 1rem 4rem 2rem 4rem;
  @include media-max-width($break-points-mobile-big){
  padding: 0;
    text-align: center;
  }
  .footer-logo{


      img{

        width: 282px;
        @include media-max-width($break-points-tablet){
          width: 160px;
        }
        @include  media-max-width($break-points-mobile){
          width: 100px;
        }
      }

  }
  .footer-social{
    img{
      width: 48px;
    }
  }
  .footer-menu-one{
    @include  footer-nav();
    @include media-max-width($break-points-tablet){
      flex-flow: nowrap column;
      padding: 0;

      li{
        a{
          border: none;
        }
      }
    }
  }

  h2{
    color: $secondary-color;
    opacity: 1;
  }
  small{
    color: $third-color;
    opacity: 1;
    margin-top: -0.7rem;
  }
  p{

    color: $text-color;
  }
  .footer-menu-two{
    @include  footer-nav();
    li {
      a{
        font-size: 0.8rem;
        padding: 0 0.2rem;
      }
    }
    @include media-max-width($break-points-tablet){

      flex-wrap: wrap;
      padding: 0;
      li{
        a{
          border: none;
        }
      }
    }
  }
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  border: 1px solid $main-color;
  background: lightblue;
  color: deepskyblue;
}
